.App {
  text-align: center;
}

.tasks{

  margin-top: 100px;
  margin-left: 30%;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  border-radius: 25px;
  border: 2px solid grey;
  padding: 20px; 
  width: 400px;
  height: 350px;  
}

ul{
  list-style: none;
}

input{
  box-shadow: 1px 1px #888888;
  border-radius: 25px;
  border: 2px solid grey;
  padding: 10px;
}

button{
  box-shadow: 1px 1px #888888;
  border-radius: 25px;
  border: 2px solid grey;
  padding: 10px; 
}